<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tag</key>
		<string>001</string>
		<key>title</key>
		<string>一男子在闹市骑摩托撞昏了一个陌生的老汉！ 男子惊吓的不知所措！围观群众越来越多！突然，该男抱住老汉，声泪俱下的喊道：“爹，你等着我，我这就去给你找医生！”说后，就跑掉了。。。老汉挣扎着愤怒的喊道：“给老子回来！”众人纷纷感慨：“这儿子当的真孝顺！</string>
		<key>imgsrc</key>
		<string>http://img6.cache.netease.com/3g/2015/12/14/20151214075020e2c56.jpg</string>
	</dict>
	<dict>
		<key>imgsrc</key>
		<string>http://img1.cache.netease.com/3g/2015/12/13/2015121319401433048.jpg</string>
		<key>title</key>
		<string>小明考试回家，妈妈问他：“考的咋呀？”小明说：“只有一道题错了！！”妈妈问：&quot;啥题？”小明说：“问3乘7等于几?”妈妈问：“你等于几”小明说：“我当时不管三七二十一等了个20.9</string>
		<key>tag</key>
		<string>001</string>
	</dict>
	<dict>
		<key>imgsrc</key>
		<string>http://img4.cache.netease.com/3g/2015/12/13/2015121316185274368.jpg</string>
		<key>title</key>
		<string>朝鲜：大哥，我要做核试验了。　中国：好的，什么时候？　朝：10. 　中：10？10什么？10天还是10小时？　朝：9，8,7，6。。。　中：你大爷的！</string>
		<key>tag</key>
		<string>001</string>
	</dict>
	<dict>
		<key>imgsrc3</key>
		<string>http://pic14.nipic.com/20110522/7411759_164157418126_2.jpg</string>
		<key>imgsrc2</key>
		<string>http://pic.nipic.com/2007-11-09/2007119122519868_2.jpg</string>
		<key>imgsrc1</key>
		<string>http://pic.nipic.com/2007-11-09/200711912230489_2.jpg</string>
		<key>tag</key>
		<string>002</string>
	</dict>
	<dict>
		<key>imgsrc3</key>
		<string>http://i2.tietuku.com/92b54fc11784b7ces.jpg</string>
		<key>imgsrc2</key>
		<string>http://www.th7.cn/feizhuliu/UploadFiles_2544/201010/2010100513025822.jpg</string>
		<key>imgsrc1</key>
		<string>http://images.ali213.net/picfile/pic/2014/05/04/927_20140504143754186.jpg</string>
		<key>tag</key>
		<string>002</string>
	</dict>
	<dict>
		<key>picUrl</key>
		<string>http://p4.music.126.net/ZtoKxe3R-vHB6cP5zhS3Sg==/84662395351492.jpg</string>
		<key>name</key>
		<string>See You Again</string>
		<key>singer</key>
		<string>Wiz Khalifa</string>
		<key>tag</key>
		<string>003</string>
	</dict>
	<dict>
		<key>picUrl</key>
		<string>http://p4.music.126.net/SwbJDnhHO0DUDWvDXJGAfQ==/6655343883051583.jpg</string>
		<key>name</key>
		<string>Sugar</string>
		<key>singer</key>
		<string>Maroon</string>
		<key>tag</key>
		<string>003</string>
	</dict>
	<dict>
		<key>picUrl</key>
		<string>http://p4.music.126.net/Qdi7VcmK2-FH9na5N8CtdA==/1362294906878892.jpg</string>
		<key>name</key>
		<string>李白</string>
		<key>singer</key>
		<string>李荣浩</string>
		<key>tag</key>
		<string>003</string>
	</dict>
	<dict>
		<key>picUrl</key>
		<string>http://p3.music.126.net/M2u4Rb0IRpxwPUMyGmY2_w==/5747147278487004.jpg</string>
		<key>name</key>
		<string>走在冷风中</string>
		<key>singer</key>
		<string>刘思涵</string>
		<key>tag</key>
		<string>003</string>
	</dict>
</array>
</plist>
